DirectoryIndex index.php
AddDefaultCharset windows-1251

RewriteEngine On

RewriteRule \.tpl($|\?) - [F]

# ????????? ????? ?????? ?????????????
	php_flag display_errors off

# ???????????
	RewriteRule ^reg/(/?)+$ index.php?go=register [L]
	
# Apps
	RewriteRule ^apps(/?)+$ index.php?go=apps [L]
	RewriteRule ^apps(/?)+$ /index.php?go=apps&act=search [L]
	RewriteRule ^apps(/?)+$ /index.php?go=apps&act=view [L]
	RewriteRule ^apps(/?)+$ /index.php?go=apps&act=mydel [L] 
	RewriteRule ^apps(/?)+$ /index.php?go=apps&act=install [L]
	
# ???????? ?????
	RewriteRule ^id([0-9]+)(/?)+$ index.php?go=profile&id=$1 [L]
	RewriteRule ^id([0-9]+)after(/?)+$ index.php?go=profile&id=$1&after=1 [L]
	
# ?????????????? ????????

	RewriteRule ^editmypage(/?)+$ index.php?go=editprofile [L]
	RewriteRule ^editmypage/contact(/?)+$ index.php?go=editprofile&act=contact [L]
	RewriteRule ^editmypage/interests(/?)+$ index.php?go=editprofile&act=interests [L]
	RewriteRule ^editmypage/all(/?)+$ index.php?go=editprofile&act=all [L]
	
	RewriteRule ^help(/?)+$ /index.php?go=help [L]
	
	RewriteRule ^editapp/([0-9]+)(/?)+$ /index.php?go=editapp&page=general&act=$1 [L]
	
# ???????
	RewriteRule ^albums/([0-9]+)(/?)+$ index.php?go=albums&uid=$1 [L]
	RewriteRule ^albums/add/([0-9]+)(/?)+$ index.php?go=albums&act=add&aid=$1 [L]
	RewriteRule ^albums/view/([0-9]+)(/?)+$ index.php?go=albums&act=view&aid=$1 [L]
	RewriteRule ^albums/view/([0-9]+)/page/([0-9]+)(/?)+$ index.php?go=albums&act=view&aid=$1&page=$2 [L]
	RewriteRule ^albums/comments/([0-9]+)(/?)+$ index.php?go=albums&act=all_comments&uid=$1 [L]
	RewriteRule ^albums/comments/([0-9]+)/page/([0-9]+)(/?)+$ index.php?go=albums&act=all_comments&uid=$1&page=$2 [L]
	RewriteRule ^albums/view/([0-9]+)/comments/(/?)+$ index.php?go=albums&act=all_comments&aid=$1 [L]
	RewriteRule ^albums/view/([0-9]+)/comments/page/([0-9]+)(/?)+$ index.php?go=albums&act=all_comments&aid=$1&page=$2 [L]
	RewriteRule ^albums/editphotos/([0-9]+)(/?)+$ index.php?go=albums&act=edit_pos_photos&aid=$1 [L]
	RewriteRule ^albums/newphotos(/?)+$ index.php?go=albums&act=new_photos [L]
	RewriteRule ^albums/newphotos/([0-9]+)(/?)+$ index.php?go=albums&act=new_photos&page=$1 [L]
	
#Boards

	RewriteCond %{QUERY_STRING} ^act=([a-z]+)
	RewriteRule ^(.*)epage $1index.php?go=editpage [QSA,L]

	RewriteRule ^board([0-9]+)(/?)+$ index.php?go=board&act=view&aid=$1 [L]
	RewriteRule ^board([0-9]+)/new(/?)+$ index.php?go=board&act=new&aid=$1 [L]
    RewriteRule ^topic-([0-9]+)_([0-9]+)(/?)+$ index.php?go=board&act=show&aid=$1&topic=$2 [L]  
	
# ???????? ??????????
	RewriteRule ^photo([0-9]+)_([0-9]+)_sec=user_page(/?)+$ index.php?go=profile&id=$1 [L]
	RewriteRule ^photo([0-9]+)_([0-9]+)_sec=all_comments(/?)+$ index.php?go=albums&act=all_comments&uid=$1 [L]
	RewriteRule ^photo([0-9]+)_([0-9]+)_sec=wall/fuser=([0-9]+)(/?)+$ index.php?go=profile&id=$3 [L]
	RewriteRule ^photo([0-9]+)_([0-9]+)_sec=notes/id=([0-9]+)(/?)+$ index.php?go=notes&act=view&note_id=$3 [L]
	RewriteRule ^photo([0-9]+)_([0-9]+)_sec=news(/?)+$ index.php?go=news [L]
	RewriteRule ^photo([0-9]+)_([0-9]+)_sec=msg/id=([0-9]+)(/?)+$ index.php?go=messages&act=review&mid=$3 [L]
	RewriteRule ^photo([0-9]+)_([0-9]+)_([0-9]+)(/?)+$ index.php?go=albums&act=view&aid=$3 [L]
	RewriteRule ^photo([0-9]+)_([0-9]+)_([0-9]+)_sec=album_comments(/?)+$ index.php?go=albums&act=all_comments&aid=$3 [L]
	RewriteRule ^photo([0-9]+)_([0-9]+)_([0-9]+)_sec=newphotos(/?)+$ index.php?go=albums&act=new_photos [L]

# ??????
	RewriteRule ^friedns/send_demand/([0-9]+)(/?)+$ index.php?go=friends&act=send_demand&for_user_id=$1 [L]
	RewriteRule ^friedns/take/([0-9]+)(/?)+$ index.php?go=friends&act=take&take_user_id=$1 [L]
	RewriteRule ^friedns/reject/([0-9]+)(/?)+$ index.php?go=friends&act=reject&reject_user_id=$1 [L]
	RewriteRule ^friends(/?)+$ index.php?go=friends [L]
	RewriteRule ^friends/([0-9]+)(/?)+$ index.php?go=friends&user_id=$1 [L]
	RewriteRule ^friends/([0-9]+)/page/([0-9]+)(/?)+$ index.php?go=friends&user_id=$1&page=$2 [L]
	RewriteRule ^friends/online/([0-9]+)(/?)+$ index.php?go=friends&act=online&user_id=$1 [L]
	RewriteRule ^friends/online/([0-9]+)/page/([0-9]+)(/?)+$ index.php?go=friends&act=online&user_id=$1&page=$2 [L]
	RewriteRule ^friends/requests(/?)+$ index.php?go=friends&act=requests [L]
	RewriteRule ^friends/requests/page/([0-9]+)(/?)+$ index.php?go=friends&act=requests&page=$1 [L]
	
# ????????
	RewriteRule ^fave(/?)+$ index.php?go=fave [L]
	RewriteRule ^fave/page/([0-9]+)(/?)+$ index.php?go=fave&page=$1 [L]	

# ???????
	RewriteRule ^notes(/?)+$ index.php?go=notes [L]
	RewriteRule ^notes/add(/?)+$ index.php?go=notes&act=add [L]
	RewriteRule ^notes/edit/([0-9]+)(/?)+$ index.php?go=notes&act=edit&note_id=$1 [L]
	RewriteRule ^notes/view/([0-9]+)(/?)+$ index.php?go=notes&act=view&note_id=$1 [L]
	RewriteRule ^notes/([0-9]+)(/?)+$ index.php?go=notes&get_user_id=$1 [L]
	RewriteRule ^notes/([0-9]+)/page/([0-9]+)(/?)+$ index.php?go=notes&get_user_id=$1&page=$2 [L]
	
# ?????
	RewriteRule ^videos(/?)+$ index.php?go=videos [L]
	RewriteRule ^videos/([0-9]+)(/?)+$ index.php?go=videos&get_user_id=$1 [L]
	RewriteRule ^videos/([0-9]+)/page/([0-9]+)(/?)+$ index.php?go=videos&get_user_id=$1&page=$2 [L]
	RewriteRule ^videos/([0-9]+)(/?)+$ index.php?go=videos&get_user_id=$1 [L]
	RewriteRule ^video([0-9]+)_([0-9]+)(/?)+$ index.php?go=videos&get_user_id=$1 [L]
	RewriteRule ^video([0-9]+)_([0-9]+)_sec=wall/fuser=([0-9]+)(/?)+$ index.php?go=profile&id=$3 [L]
	RewriteRule ^video([0-9]+)_([0-9]+)_sec=notes/id=([0-9]+)(/?)+$ index.php?go=notes&act=view&note_id=$3 [L]
	RewriteRule ^video([0-9]+)_([0-9]+)_sec=news(/?)+$ index.php?go=news [L]
	RewriteRule ^video([0-9]+)_([0-9]+)_sec=msg/id=([0-9]+)(/?)+$ index.php?go=messages&act=review&mid=$3 [L]
	
# ?????
	RewriteRule ^search/query=(.*)&type=([0-3]+)(/?)+$ index.php?go=search&query=$1&type=$2 [L]
	
# ???????
	RewriteRule ^news(/?)+$ index.php?go=news [L]
	RewriteRule ^news/updates(/?)+$ index.php?go=news&type=updates [L]
	RewriteRule ^news/photos(/?)+$ index.php?go=news&type=photos [L]
	RewriteRule ^news/videos(/?)+$ index.php?go=news&type=videos [L]
	RewriteRule ^news/notifications(/?)+$ index.php?go=news&type=notifications [L]
	
# ?????????
	RewriteRule ^messages(/?)+$ index.php?go=messages [L]
	RewriteRule ^messages/i(/?)+$ index.php?go=messages&info=1 [L]
	RewriteRule ^messages/outbox(/?)+$ index.php?go=messages&act=outbox [L]
	RewriteRule ^messages/show/([0-9]+)(/?)+$ index.php?go=messages&act=review&mid=$1 [L]
	RewriteRule ^im(/?)+$ index.php?go=messages&act=alldialogs [L]
	
# ?????
	RewriteRule ^wall([0-9]+)(/?)+$ index.php?go=wall&uid=$1&type=page [L]
	RewriteRule ^wall([0-9]+)/page/([0-9]+)(/?)+$ index.php?go=wall&uid=$1&type=page&page=$2 [L]
	RewriteRule ^wall([0-9]+)_sec=own(/?)+$ index.php?go=wall&uid=$1&type=own [L]
	RewriteRule ^wall([0-9]+)_sec=own&page=([0-9]+)(/?)+$ index.php?go=wall&uid=$1&type=own&page=$2 [L]
	RewriteRule ^wall([0-9]+)_([0-9]+)(/?)+$ index.php?go=wall&uid=$1&rid=$2&type=record [L]
	
# ?????????
	RewriteRule ^settings(/?)+$ index.php?go=settings [L]
	RewriteRule ^settings/privacy(/?)+$ index.php?go=settings&act=privacy [L]
	RewriteRule ^settings/blacklist(/?)+$ index.php?go=settings&act=blacklist [L]
	RewriteRule ^settings/design(/?)+$ index.php?go=settings&act=design [L]
	RewriteRule ^settings/function(/?)+$ index.php?go=settings&act=function [L]
	
# Игры
RewriteRule ^games(/?)+$ index.php?go=games [L]
RewriteRule ^games/game(/?)+$ index.php?go=games&act=games [L]	
RewriteRule ^games/create(/?)+$ index.php?go=games&act=create [L]	
# API
RewriteRule ^api(/?)+$ index.php?go=api [L]
RewriteRule ^api/main(/?)+$ index.php?go=api&act=main [L]
# ??????
	RewriteCond %{QUERY_STRING} ^act=([a-z]+)
	RewriteRule ^(.*)support $1index.php?go=support [QSA,L]

	RewriteCond %{QUERY_STRING} ^page=([0-9]+)
	RewriteRule ^(.*)support $1index.php?go=support [QSA,L]
	RewriteRule ^support(/?)+$ index.php?go=support [L]
	
# ?????????????? ??????
	RewriteCond %{QUERY_STRING} ^act=([a-z]+)
	RewriteRule ^(.*)restore $1index.php?go=restore [QSA,L]
	RewriteRule ^restore(/?)+$ index.php?go=restore [L]
	
# ???? ?????
	RewriteCond %{QUERY_STRING} ^act=([a-z]+)
	RewriteRule ^(.*)blog $1index.php?go=blog [QSA,L]
	
	RewriteCond %{QUERY_STRING} ^id=([0-9]+)
	RewriteRule ^(.*)blog $1index.php?go=blog [QSA,L]
	RewriteRule ^blog(/?)+$ index.php?go=blog [L]
	
# UBM
	RewriteCond %{QUERY_STRING} ^act=([a-z]+)
	RewriteRule ^(.*)balance $1index.php?go=balance [QSA,L]
	RewriteRule ^balance(/?)+$ index.php?go=balance [L]
	
# ???. ?????? ?? ???????????
	RewriteRule ^reg([0-9]+)(/?)+$ index.php?reg=$1 [L]
	
# ???????
	RewriteCond %{QUERY_STRING} ^new=([0-9]+)
	RewriteRule ^(.*)gifts([0-9]+) $1index.php?go=gifts&uid=$2 [QSA,L]
	
	RewriteCond %{QUERY_STRING} ^page=([0-9]+)
	RewriteRule ^(.*)gifts([0-9]+) $1index.php?go=gifts&uid=$2 [QSA,L]
	
	RewriteRule ^gifts([0-9]+)(/?)+$ index.php?go=gifts&uid=$1 [L]

# ??????????
	RewriteCond %{QUERY_STRING} ^act=([a-z]+)
	RewriteRule ^(.*)groups $1index.php?go=groups [QSA,L]

	RewriteCond %{QUERY_STRING} ^page=([0-9]+)
	RewriteRule ^(.*)groups $1index.php?go=groups [QSA,L]
	RewriteRule ^groups(/?)+$ index.php?go=groups [L]
	
# ??????????
	RewriteCond %{QUERY_STRING} ^act=([a-z]+)
	RewriteRule ^(.*)clubs $1index.php?go=clubs [QSA,L]

	RewriteCond %{QUERY_STRING} ^page=([0-9]+)
	RewriteRule ^(.*)clubs $1index.php?go=clubs [QSA,L]
	RewriteRule ^clubs(/?)+$ index.php?go=clubs [L]
	
# ??????
	RewriteRule ^audio(/?)+$ index.php?go=audio [L]
	RewriteRule ^audio([0-9]+)(/?)+$ index.php?go=audio&uid=$1 [L]

# ?????????
	RewriteRule ^docs(/?)+$ index.php?go=doc&act=list [L]


# ?????????? -> ????????? ???????? -> ?????
	RewriteRule ^public/audio([0-9]+)(/?)+$ index.php?go=public_audio&pid=$1 [L]
	
# ?????????? -> ????????? ????????
	RewriteCond %{QUERY_STRING} ^act=([a-z]+)
	RewriteRule ^public([0-9]+)(/?)+$ index.php?go=public&pid=$1 [L]
	
	RewriteRule ^public([0-9]+)(/?)+$ index.php?go=public&pid=$1 [L]
	
	
# ?????????? -> ????????? ???????? -> ?????
	RewriteRule ^club/audio([0-9]+)(/?)+$ index.php?go=club_audio&pid=$1 [L]
	
# ?????????? -> ????????? ????????
	RewriteCond %{QUERY_STRING} ^act=([a-z]+)
	RewriteRule ^club([0-9]+)(/?)+$ index.php?go=club&gid=$1 [L]
	
	RewriteRule ^club([0-9]+)(/?)+$ index.php?go=club&gid=$1 [L]
	RewriteRule ^([^.]+)/?$ ?go=alias&url=$1 [L]


# ???? ????????
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^([^/]+).html$ index.php?go=static&page=$1 [L]

# Ads
    RewriteCond %{QUERY_STRING} ^act=([a-z]+)
    RewriteRule ^(.*)ads $1index.php?go=ads [QSA,L]

    RewriteRule ^ads(/?)+$ index.php?go=ads [L]